<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kavoon&family=Lacquer&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/fpage.css')}}" />
</head>

<body>
    <header>

    </header>
    <main>
        <section class="first-section">
            <div class="container first-box">
                <h1 class="header">RESTORE PASSWORD</h1>
                <p class="par">Make new password for your account</p>
                <form action="" method="post" name="support" autocomplete="off" novalidate="off" class="form">
                    {{ form.hidden_tag() }}
                    <label class="form-label">
                        {{form.password(class="email-input", placeholder="Enter new password")}}
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </label>
                    <label class="form-label">
                        {{form.password2(class="email-input", placeholder="Confirm new password")}}
                        {% for error in form.password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </label>
                    {{ form.submit(class="but") }}
                </form>
                <a class="login" href="{{url_for('auth.login')}}">Log in</a>
            </div>
        </section>
    </main>
</body>

</html>