
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kavoon&family=Lacquer&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/signpage.css')}}" />
</head>

<body>
    <header>

    </header>
    <main>
        <section class="fisrt-section">
            <div class="container first-box">
                <div class="div-form">
                    <form action="" method="post" class="form" name="Login_form">
                        {{ form.hidden_tag() }}
                        <h1 class="header">Sign up</h1>
                        <label class="form-label">
                            Nickname
                            {{form.username(class="form-input", placeholder="Enter your Nickname")}}
                            {% for error in form.username.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </label>
                        <label class="form-label">
                            Email
                            {{form.email(class="form-input", placeholder="Enter your Email")}}
                            {% for error in form.email.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </label>
                        <label class="form-label">
                            Password
                            {{form.password(class="form-input", placeholder="Enter your Password")}}
                            {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </label>
                        <label class="form-label">
                            Confirm Password
                            {{form.password2(class="form-input", placeholder="Confirm your Password")}}
                            {% for error in form.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </label>
                        <br>
                        <label class="form-label">
                            {{ form.recaptcha }}
                            {% for error in form.recaptcha.errors %}
                            <span style="color: red;">Вам потрібно пройти перевірку!</span>
                            {% endfor %}
                        </label>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <span style="color: red;">{{ message }}</span><br>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {{form.submit(class="but")}}
                        <p class="par">Already have an account?</p>
                        <a class="log" href="{{url_for('auth.login')}}">Log in</a>
                    </form>
                </div>
                <div class="div-photo">
                    <img src="{{url_for('static', filename='assets/pubg.png')}}">
                    <h3 class="logo">Dark Nemesis</h3>
                </div>
            </div>
        </section>
    </main>
</body>

</html>