*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Istok Web", sans-serif;
    font-weight: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #ffffff;
    background: #160840;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* ==========This is header========== */

.page-header {
    display: flex;
    background-color: #4C4D9D;
    background-image: url(../images/headerbg.png);
    max-width: 100%vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-box {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    padding: 0 153px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    font-family: "Lacquer", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.nav-list {
    display: flex;
    gap: 99px;
}

.nav-list .link {
    display: block;
    padding-top: 25px;
    font-family: "Lacquer", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: #1843B0;
}

.header-p {
    display: block;
    margin: 231px 240px 268px 240px;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    max-width: 800;
    letter-spacing: 2%;
    line-height: 40px;
    
}

/* ==========This is section 1========== */

.first-section {
    display: flex;
    background: #160840;
    max-width: 100vw;
 
}

.first-box {
    padding-top: 100px;
    padding-bottom: 100px;
}

.game {
    display: block;
    font-family: "Kavoon", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #fff;
}



/* ==========This is section 2========== */

.second-section {
    display: flex;
    background: #4C4D9D;
    max-width: 100%vw;
}

.second-box {
    display: flex;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 77px;
}

.info-box .par {
    margin-top: 133px;
    margin-bottom: 113px;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.info-box .but {
    width: 220px;
    height: 52px;
    background: #3964d3;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.info-box .but:hover,
.info-box .but:focus {
    background: #1843B0;
}

/* ==========This is search section========== */

.search-section {
    max-width: 100%vw;
    background: #160840;
}

.search-box {
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
}

.search {
    padding: 10px 15px;
    min-width: 55%;
    font-size: 1rem;
    line-height: 1.5em;
    color: #373D41;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid #C5C5C7;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    flex-grow: 1;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-button {
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
    outline: 0;
    padding: 14px 24px 13px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-button:hover,
.search-button .but:focus {
    background: #1843B0;
}

/* ==========This is section 3========== */

.third-section {
    display: flex;
    background: #160840;
    max-width: 100%vw;
    padding: 25px 0 25px 0;
}

.third-box {
    position: relative;
    max-width: 1158px;
    display: flex;
    background-image: url(../images/bg1.jpg);
    background-size: auto;
    background-position: center;
    justify-content: space-between;
}

.load-page {
    display: flex;
    margin-left: 200px;
    margin-top: 160px;
}

.game-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.game-div .div-but {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.game-div .div-but .but {
    background-color: #1a1a1a;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    padding: 14px 24px 13px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    width: 190px;
    border: none;
}

.game-div .div-but .but:hover,
.game-div .div-but .but:focus {
    background: #1843B0;
}

.page-link {
    background: #1a1a1a;
    color: #ffffff;
}

.game-list {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.list-li {
    display: block;
    margin-bottom: 15px;
}

.game-div {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.game-card {
    display: flex;
    background: #1a1a1a;
    max-height: 264px;
}

.game-desc {
    position: relative;
    display: flex;
    padding: 13px 15px 0px 15px;
    flex-direction: column;
}

.game-desc .game-title {
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 0;
    text-align: center;
}

.divbut {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.divbut .but {
    background: #3964D3;
    border: none;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    font-family: "Istok Web", sans-serif;
    color: #ffffff;
    width: 102px;
    height: 28px;
    cursor: pointer;
    border-radius: 6px;
}

.divbut .but:hover,
.divbut .but:focus {
    background: #1843B0;
}

.rating-par0 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    border-radius: 100%;
    background-color: rgb(126, 126, 126);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.rating-par1 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    margin-top: 65%;
    border-radius: 100%;
    background-color: rgb(212, 0, 0);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.rating-par2 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    margin-top: 65%;
    border-radius: 100%;
    background-color: rgb(184, 119, 0);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.rating-par3 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    margin-top: 65%;
    border-radius: 100%;
    background-color: rgb(184, 171, 0);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.rating-par4 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    margin-top: 65%;
    border-radius: 100%;
    background-color: rgb(98, 131, 38);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.rating-par5 {
    position: absolute;
    left: 17px;
    bottom: 0;
    display: block;
    margin-top: 65%;
    border-radius: 100%;
    background-color: rgb(0, 128, 0);
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 12px;
}

.game-desc .game-categ {
    display: block;
    font-family: "Istok Web", sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 12px;
}

.card {
    margin-top: 122px;
    display: flex;
    gap: 12px;
    width: 100%;
    border-radius: 0.5rem;
    justify-content: flex-start;
}

.form {
    position: sticky;
    display: flex;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

.form-label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    gap: 5px;
    justify-content: space-between;
}

.categories-div {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

.select-sorting {
    border: 2px solid #ffffff;
    background: #1a1a1a;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

/* ==========This is footer========== */

.foot-page {
    background: #4C4D9D;
}

.foot-box {
    display: flex;
    padding-top: 71px;
    justify-content: space-between;
}

.foot-box .foot-logo {
    font-family: "Lacquer", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-top: 25px;
}

.menu-link {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.list-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 122px;
}

.foot-box .list-link {
    display: block;
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.foot-box .list-link:hover {
    color: #1843B0;
}

.page-link.active {
    background-color: #ffffff;
    cursor: not-allowed;
    color: #1843B0;
    border-color: #ffffff;
}

.page-link.disabled {
    background-color: #3d3d3d;
    cursor: not-allowed;
    color: #ffffff;
    border-color: #ffffff;
}