{% extends "base.html" %}


{% block content %}

<h1>{{ heading }}</h1>

<div class="dropdown mb-4">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Обрати категорію
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('index') }}">Усі</a>
        </li>
        {% for category in categories %}
        <li><a class="dropdown-item" href="{{ url_for('category', category_name=category.name) }}">{{category.name}}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div id="games-window">
    {% for game in games %}
    <div class="card mb-4" style="width: 60rem;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='games_images/' + game.folder_name + '/poster.jpg') }}"
                     class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{game.title}}</h1>
                    <h3 class="card-text">{{game.category.name}}</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}