<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kavoon&family=Lacquer&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='apage.css')}}" />
</head>
<body>
    <header class="page-header">
        <div class="container flex-box">
            <nav class="nav-menu">
                <a href="./home.html" class="nav-logo">Dark Nemesis</a>
                <ul class="nav-list">
                    <li>
                        <a href="./home.html" class="link">Home</a>
                    </li>
                    <li>
                        <a href="./support.html" class="link">Support</a>
                    </li>
                    <li>
                        <a href="./account.html" class="link" id="acc">Account</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="first-section">
            <div class="container first-box">
                <div class="avatar-div">
                    <button class="img-but" type="button">
                        <img class="avatar-img" src="./images/acclogo.png" alt="Avatar of user"/>
                    </button>
                </div>
                <div class="info-div">
                    <h3 class="nick">Deathrow228</h3>
                    <p class="user">User</p>
                    <button type="button" class="but1">Change Email</button>
                    <button type="button" class="but2">Change Password</button>
                </div>
            </div>
        </section>
        <section class="second-section">
            <div class="container second-box">
                <div class="div-stats">
                    <p class="stats">Number od downloaded games: 0</p>
                    <p class="stats">Comments: 0</p>
                </div>
                <div class="div-stats">
                    <p class="stats">Time spent on the site: 0</p>
                    <p class="stats">Game rating out of 5: 0</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot-page">
        <div class="container foot-box">
            <a href="./home.html" class="foot-logo">Dark Nemesis</a>
            <div>
                <h4 class="menu-link">MENU</h4>
                <ul class="list-ul">
                    <li>
                        <a href="./account.html" class="list-link">Account</a>
                    </li>
                    <li>
                        <a href="./support.html" class="list-link">Support</a>
                    </li>
                    <li>
                        <a href="./home.html" class="list-link">Home</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4 class="menu-link">CATEGORIES</h4>
                <ul class="list-ul">
                    <li>
                        <a href="" class="list-link">Adventure</a>
                    </li>
                    <li>
                        <a href="" class="list-link">Fighting</a>
                    </li>
                    <li>
                        <a href="" class="list-link">Strategy</a>
                    </li>
                    <li>
                        <a href="" class="list-link">Racing</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4 class="menu-link">FOLLOW</h4>
                <ul class="list-ul">
                    <li>
                        <a href="" class="list-link">Facebook</a>
                    </li>
                    <li>
                        <a href="" class="list-link">Instagram</a>
                    </li>
                    <li>
                        <a href="" class="list-link">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- ========== MODAL WINDOW ========== -->

    <div class="backdrop">
        <div class="modal">
            <button type="button" class="close-but">X</button>
            <h1 class="modal-header">Create a new password</h1>
            <form class="modal-form">
                <label class="form-label">
                    Password
                    <input class="form-input" type="password" name="user-password" id="user-password-1" placeholder="Enter Password">
                </label>
                <label class="form-label">
                    New Password
                    <input class="form-input" type="password" name="user-password" id="user-new-password" placeholder="Enter new Password">
                </label>
                <button type="submit" class="change-but">Change</button>
            </form>
        </div>
    </div>

    <div class="second-backdrop">
        <div class="modal">
            <button type="button" class="close-but">X</button>
            <h1 class="modal-header">Change Email</h1>
            <form class="modal-form">
                <label class="form-label">
                    Password
                    <input class="form-input" type="password" name="user-password-2" id="user_password"
                        placeholder="Enter Password">
                </label>
                <label class="form-label">
                    New Email
                    <input class="form-input" type="email" name="user-email" id="user-email"
                        placeholder="Enter new Email">
                </label>
                <button type="submit" class="change-but">Change</button>
            </form>
        </div>
    </div>

    <div class="third-backdrop">
        <div class="avatar-modal">
            <button type="button" class="close-but">X</button>
            <div class="border-div">
                <h1 class="modal-header">Change Avatar</h1>
                <button class="avatar-but" type="submit">Choose new Avatar</button>
            </div>
        </div>
    </div>
</body>
</html>
