<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kavoon&family=Lacquer&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='fpage.css')}}" />
</head>

<body>
    <header>
        
    </header>
    <main>
        <section class="first-section">
            <div class="container first-box">
                <h1 class="header">FORGOT PASSWORD</h1>
                <p class="par">We will send you a confirmation email</p>
                <form name="support" autocomplete="off" novalidate="off" class="form">
                    <label class="form-label">
                        <input type="email" name="topic" class="email-input" placeholder="Enter your Email" />
                    </label>
                    <button type="submit" class="but">Send</button>
                </form>
                <a class="login" href="login.html">Log in</a>
            </div>
        </section>
    </main>
</body>

</html>