<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Kavoon&family=Lacquer&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='loginpage.css')}}" />
</head>

<body>
    <header>

    </header>
    <main>
        <section class="fisrt-section">
            <div class="container first-box">
                <div class="div-form">
                    <form class="form" name="Login_form">
                        <h1 class="header">Log in</h1>
                        <label class="form-label">
                            Email
                            <input class="form-input" type="email" id="user-email" name="user-email" placeholder="Enter your Email">
                        </label>
                        <label class="form-label">
                            Password
                            <input class="form-input" type="password" id="user-password" name="user-password" placeholder="Enter your password">
                        </label>
                    </form>
                    <a class="forgot-pas" href="./forgotpas.html">Forgot Password</a>
                    <from class="second-form">
                        <button class="but" type="submit">Log in</button>
                        <p class="par">Need an account?</p>
                        <a class="sig" href="/signin.html">Sign up</a>
                    </from>
                </div>
                <div class="div-photo">
                    <img src="./images/pubg.png">
                    <h3 class="logo">Dark Nemesis</h3>
                </div>
            </div>
        </section>
    </main>
</body>

</html>
